.login-main-container {
  display: flex;
  flex-direction: row; /* side-by-side layout */

  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
  box-sizing: border-box;
}


.login-container {
  flex: 1;
  margin: 100px auto;
   max-width: 600px;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  background: white;
  font-family: Arial, sans-serif;
}

login-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 95%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error {
  color: red;
  font-size: 0.8rem;
}

button {
  width: 100%;
  padding: 0.7rem;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

button:disabled {
  background: #aaa;
  cursor: not-allowed;
}

